p { 
    width: 500px;
   margin: 20px 10px 20px 10px ;
   padding: 20px 10px 20px 10px;
   border: 5px solid;
}

.principal {
    width: 700px;
    border: 5px solid blue;
    padding: 20px;
}

.principal div {
    height: 20px;
    width: 600px;
    padding: 05px 10px 10px 05px;
    border: 2px solid red;
    margin: 20px;
}

.profile {
    border-style:dashed 100px solid orange;
}

.profile div {
    border-radius-style: 50px solid blue ;
}

.profile div+div {
    border-style: double 10px green;
}